@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --step--2: clamp(0.58rem, calc(0.73rem + -0.19vw), 0.69rem);
  --step--1: clamp(0.83rem, calc(0.82rem + 0.07vw), 0.88rem);
  --main: clamp(1.00rem, calc(0.89rem + 0.54vw), 1.31rem);
  --h3: clamp(1.20rem, calc(0.93rem + 1.34vw), 1.97rem);
  --h2: clamp(1.44rem, calc(0.91rem + 2.63vw), 2.95rem);
  --h1: clamp(1.73rem, calc(0.79rem + 4.70vw), 4.43rem);
  --step-4: clamp(2.07rem, calc(0.48rem + 7.95vw), 6.64rem);
  --step-5: clamp(2.49rem, calc(-0.11rem + 13.01vw), 9.97rem);
  --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);
}

body {
  background-color: #F6F3EF;
  font-family: 'Borel', cursive;
  padding: 0%;
  margin: 0%;
  font-size: var(--main);
}

h1{
  font-size: var(--h1);
  text-align: center;
  text-decoration: underline;
}

h2{
  font-size: var(--h2);
  text-decoration: underline;
}

h3{
  font-size: var(--h3);
  text-decoration: underline;
}

a:hover{
  color: #d6cec2;
}

li {
  margin-left: 18px;
  list-style-type: circle;
  text-decoration-color: #141313;
}

footer > li{
  text-decoration: none;
  list-style-type: none;
}

footer{
  font-family: 'Borel', cursive;
  background-color: #67B1C2;
  color: #F6F3EF;
  position: static;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem;
}

.intro {   
  object-fit: cover; 
  background-color: #67B1C2;  
  width: 100%;
  height: 100vh;
  position: static;
  z-index: 0;
  margin-bottom: 15px;
}

.title{
  text-align: center;
  font-weight: 600;
}

.fill{
  height: fit-content;
  background-color: #ffbd59;
  margin: 15px 30px;
  padding: var(--space-m-l);
  border: 5px solid #141313;
  border-radius: 24px;
}

.fill>p{
  font-size: 36px;
}

.separator{
  display: flex;
  height: 100px;
  width: max(5rem, 90%);
  margin-inline: auto;
  justify-content: space-between;
}

.item{
  height: clamp(2rem, 75px, 5rem);
  width: clamp(2rem, 75px, 5rem);
  background-color: #AFBF8C;
  border: 5px solid #141313;
  border-radius: 100%;
}

.section{
  display: flex;
  height: fit-content;
  max-width: 100%;
  margin-inline: auto;
  justify-content:space-evenly;
  overflow: hidden;
}

@media (max-width: 900px) {
  .section{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 100%;
    margin-inline: auto;
    justify-content:space-evenly;
    overflow: hidden;
  } 
  .intro {   
    width: 100vw;
    height: auto;
    background-color: #67B1C2;  
    position: static;
    margin-bottom: 15px;
  }
}

.year{
  background-color: #F6F3EF;
  height: fit-content;
  padding: var(--space-s-m);
  margin: 1rem;
  border: 5px solid #141313;
  border-radius: 24px;
}

.share{
  width: clamp(50%,90%);
}

.stack{
  height: fit-content;
  display: block;
}

.year > img, .flex >img{
  height: 80px;
  width: fit-content;
  margin: 1rem;
  padding: 5px;
  border: 5px solid #141313;
  border-radius: 24px;
  background-color: #ffbd59;
}

small{
  font-weight: bold;
}

.flex{
  display: flex;
  width: inherit;
}
