@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F6F3EF;
  font-family: 'Borel', cursive;
  padding: 0%;
  margin: 0%;
  font-size: 20px;
}

h1{
  font-size: 72px;
  text-align: center;
  text-decoration: underline;
}

h2, h3{
  font-size: 28px;
  text-decoration: underline;
}

a:hover{
  color: #d6cec2;
}

li {
  margin-left: 18px;
  list-style-type: circle;
  text-decoration-color: #141313;
}

footer > li{
  text-decoration: none;
  list-style-type: none;
}

footer{
  font-family: 'Borel', cursive;
  background-color: #67B1C2;
  color: #F6F3EF;
  position: static;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.intro {   
  object-fit: cover; 
  background-color: #67B1C2;  
  width: 100%;
  height: 100vh;
  position: static;
  z-index: 0;
  margin-bottom: 15px;
}

.title{
  text-align: center;
  font-weight: 600;
}

.fill{
  height: fit-content;
  width: fit-content;
  background-color: #ffbd59;
  margin: 15px 30px;
  padding: 15px 10px;
  border: 5px solid #141313;
  border-radius: 24px;
}

.fill>p{
  font-size: 36px;
}

.separator{
  display: flex;
  height: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.item{
  height: 75px;
  width: 75px;
  background-color: #AFBF8C;
  border: 5px solid #141313;
  border-radius: 100%;
}

.section{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  overflow: hidden;
}

.year{
  background-color: #F6F3EF;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border: 5px solid #141313;
  border-radius: 24px;
}

.share{
  width: 50%;
}

.stack{
  height: fit-content;
  display: block;
}

.year > img{
  height: 80px;
  width: fit-content;
  margin: 10px;
  padding: 5px;
  border: 5px solid #141313;
  border-radius: 24px;
  background-color: #AFBF8C;
}

small{
  font-weight: bold;
}
